.container {
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}


.countdown-container {
    margin: 0 auto;
    min-width: 50%;
    min-height: 350px;
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    background-color: rgba(224, 222, 222, 0.8);
    border-radius: 1rem;
    transition: .4s;
}

.countdown-container:hover {
    background-color: #f1f1f1;
    box-shadow: 0 5px 20px #201e1e;
}

.counters {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    gap: 3rem;
}

.countdown-title {
    color: #8576de;
    margin-top: 3rem;
    text-align: center;
}

.counter p {
    margin-top: 2rem;
    background-color: #8576de;
    font-size: 2rem;
    color: #fff;
    border-radius: 3px;
    padding: 1rem 1.5rem;
    text-align: center;
}

.counter h3 {
    font-size: .8rem;
    margin-top: 10px;
    color: #8576de;
    text-align: center;
}